doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//unpkg.com/carbon-components@10.5.1/css/carbon-components.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
